.gameRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .modeText {
    position: absolute;
    top: 10%;
    font-size: 4rem;
  }

  .helperVideoPanel {
    max-width: 20%;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    video {
      margin-bottom: .5rem;
    }
  }

  .nextButton {
    position: absolute;
    bottom: 50px;
    min-width: 50%;
    background-color: #f0f0f0a0;
    border-top: 1px solid #cccccc;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
  }

  .endText {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  .backToPoseButton {
    position: absolute;
    bottom: 50px;
    min-width: 50%;
    background-color: #f0f0f0a0;
    border-top: 1px solid #cccccc;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
}
