.calibRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .outputCanvas {
    width: 100vw;
  }

  .infoText {
    position: absolute;
  }

  .personUi {
    position: absolute;
  }
}