.calibRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loaderPane {
    width: 100%;
    height: 100%;

    position: absolute;
    background-color: black;
    z-index: -2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
    }
  }

  .outputCanvas {
    // width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .personUi {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .infoText {
      min-height: 20%;

      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    img {
      flex-grow: 1;
      pointer-events: none;
      opacity: 0.75;
    }

    .stateText {
      position: absolute;
    }
  }
}