.introRoot {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .startButton {
    font-size: 3rem;
  }

  .emailForm {
    position: absolute;
    bottom: calc(5vh + 2rem);

    background-color: white;
    border-radius: 2rem;

    min-width: 25vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    padding-left: 1rem;

    input {
      flex-grow: 1;

      height: 50px;
      border: none;

      background-color: #ffffff88;
    }

    button {
      font-size: 1.5rem;
      box-sizing: border-box;
      color: white;

      background-color: #24745A;
      border: 2px solid white;
      border-radius: 2rem;

      padding: 0.4rem 1rem;

      &:hover {
        border: 2px solid rgb(255, 115, 0);
      }
    }
  }

  video {
    height: 90%;
    border-radius: 15px;
    border: 3px solid black;
    background-color: black;
    box-shadow: 4px 4px 10px #00000088;
  }
}


